/* Quiz 🧠 */

.answer {
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 3px;
}

.wrong {
    border: 2px solid #ff0000;
}

.correct {
    border: 2px solid #00ff00;
}
